<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div class="row py-5" id="Payments">
        <div class="container">
            <div class="row text-center">
                <h1>Escoge tu método de <span>Pago</span></h1>
                <p>Escoge tu método de pago fácilmente aquí. Simplemente elige una opción de pago y empieza a disfrutar de nuestros servicios sin interrupciones. </p>

            </div>
            <div class="row px-5 py-4 text-center" id="prices">
                <div class="col py-2 px-5" (click)="psePayment()">
                    <img src="assets/PS.png" width="400" height="300" alt="">
                </div>
                <div class="col py-4 px-5" (click)="visaPayment()">
                    <img src="assets/visa.svg" width="400" height="300" alt="">
                </div>
            </div>


        </div>
    </div>
</body>

</html>
