<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <app-navbar2></app-navbar2>
    <div class="row py-5" id="Payments">
        <div class="container">
            <div class="row text-center">
                <h1>Apuéstale a <span>TalentSoft</span></h1>
                <p>Descubre nuestros planes de precios flexibles y adaptables para satisfacer las necesidades de tu
                    empresa.
                </p>
            </div>
            <div class="row px-5 py-4" id="prices">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                      <div class="carousel-item" *ngFor="let group of chunkArray(planes, 3); let i = index"
                      [class.active]="i === 0">
                      <div class="row">
                        <div class="col py-2" *ngFor="let plan of group">
                            <div class="Name_Plan d-flex justify-content-between px-5 py-3">
                                <h3 class="align-left">{{plan.name}}</h3>
                                <i class="bi bi-building" style="font-size: 2rem; color: #2D3748;"></i>
                            </div>
                            <h2 class="price text-center py-5">{{plan.price}}</h2>
                            <h4 class="duration px-4">{{plan.description}}</h4>
                            <ul class="features py-3  px-5">
                                <li>{{plan.feature1}}</li>
                                <li>{{plan.feature2}}</li>
                                <li>{{plan.feature3}}</li>
                            </ul>
                            <button class="btn" style="width: 100%;" [routerLink]="'/forms-pago'">Get started today</button>
                        </div>   
                    </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="row text-center">
                <h5>Todos los planes incluyen una prueba gratuita de <span>14 días</span> sin contratos a largo plazo.
                    Inicie hoy mismo su prueba gratuita y compruebe por sí mismo cómo nuestro sitio web TalentSoft puede
                    ayudarle a agilizar su proceso de contratación.</h5>
            </div>

        </div>
    </div>
    <app-footer2></app-footer2>
</body>

</html>