body {
    margin: 0;
    overflow-x: hidden;
    background-image: url(src/assets/CUPON_FONDO.svg);
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    width: 100%; 
}
h1 {
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #f7f6f6;
    font-size: 64px;
    margin-top: 40px;
}
p {
    font-family: "poppins", sans-serif;
    font-weight: regular;
    color: #f3f3f3;
    font-size: 20px;
}



.contenido{
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 150px;
}
label{
    font-family: "poppins", sans-serif;
    font-weight: regular;
    color: #EDF2F7;
    font-size: 14px;
}
input{
    background-color: #EDF2F7;
    height: 50px;
}
button{
    width: 100%;
    border-radius: 40px;
    border: none;
    background-color: #346C73;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    color: #E3E3E3;
    font-size: 20px;
}
button:hover{
    background-color: #4bb8c6;    
}
