<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escribe tu nombre y correo electrónico</title>
</head>

<body ng-app="form">
    <div class="row" id="login">
        <div class="container">
            <div class="row">
                <div class="col col2">
                    <div class="contenido">
                        <h1>Escribe tu nombre y correo electrónico</h1>
                        <p>Tu pago y usuario quedarán asociados a este correo. Al completar la compra en máximo un día
                            hábil al correo te llegará un link con la activación de tu cuenta</p>
                        <div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="nombre" [(ngModel)]="posibleUsuario.nombre" name="nombre">
                                <label for="nombre" class="form-label">Escribe tu nombre</label>
                            </div>
                            <div class="mb-3">
                                <input type="text" class="form-control" id="apellido" [(ngModel)]="posibleUsuario.apellido" name="apellido">
                                <label for="apellido" class="form-label">Escribe tu apellido</label>
                            </div>
                            <div class="mb-3">
                                <input type="email" class="form-control" id="email" [(ngModel)]="posibleUsuario.email" name="email">
                                <label for="email" class="form-label">Escribe tu correo electrónico</label>
                            </div>
                            <button type="submit" class="btn btn-primary" (click)="confirmar()">Continuar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
